
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.tabs {
    display: flex;
    background-color: #333;
    justify-content: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.tabs .tab {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background-color 0.3s;
    border-radius: 5px;
}


.tabs .tab:hover {
    background-color: #575757;
}


.tabs .tab.active {
    background-color: #444;
    font-weight: bold;
}


.content {
    padding: 20px;
}